/.nb-gradle/
/buildSrc/build/
/openTCS-API-Base/build/
/openTCS-API-Injection/build/
/openTCS-Common/build/
/openTCS-CommAdapter-Loopback/build/
/openTCS-Impl-Configuration-cfg4j/build/
/openTCS-Kernel-Extension-RMI-Services/build/
/openTCS-Kernel-Extension-HTTP-Services/build/
/openTCS-Kernel-Extension-Statistics/build/
/openTCS-Kernel-Extension-TCP-Host-Interface/build/
/openTCS-Strategies-Default/build/
/openTCS-Kernel/build/
/build/
/openTCS-Documentation/build/
/openTCS-KernelControlCenter/build/
/openTCS-PlantOverview-Panel-LoadGenerator/build/
/openTCS-PlantOverview-Panel-ResourceAllocation/build/
/openTCS-PlantOverview-Panel-Statistics/build/
/openTCS-PlantOverview-Themes-Default/build/
/openTCS-PlantOverview/build/
/openTCS-CommAdapter-Loopback - 副本/build/
/TWIN-CommAdapter/build/
/ToIN-CommAdapter/build/
/Towin-CommAdapter/build/